@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
    background-color: #F8F8F8;
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url('../images/pc.png');
    background-size: cover;
    font-family: 'Noto Serif Display', serif;
    font-weight: 300;
    font-size: 30px;
}



.label {
    display: flex;
    max-width: 550px;
    padding: 10px 20px;
    margin: 20px;
    width: 100%;
    background-color: #ffffffdb;
    backdrop-filter: blur(5px);
}

.creator {
    position: fixed;
    bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    width: calc(100% - 40px);
    text-align: center;
    padding: 10px 20px;
}

.creator > a {
    color: blue;
}

.creator > a:hover {
    color: #00b1ff;
}

@media screen and (max-width: 600px) {
    body {
        background: url('../images/mobile.png');
        background-size: 100vh;
        background-position-y: 100%;
    }
}
